body {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    font-family: 'Public Sans', sans-serif;
    /* background-image: url('books.jpg');
    background-size: cover; */
}

.box-main {
    display: flex;
    background-color: white;
    border-radius: 20px;
    width: 90%;
    max-width: 700px;
    height: 600px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    backdrop-filter: blur(10px);
}

.box-image {
    flex: 1;
    background-image: url('bookshelf.jpg');
    background-size: cover;
    background-position: center;
}

.box-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.form-content {
    padding-bottom: 50px;
    text-align: center;
    max-width: 350px;
    margin: 0 auto;
    width: 100%;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 14px;
}

.btn-login {
    width: 80%;
    padding: 14px;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin-top: 10px;
}

.footer-text {
    margin-top: 30px;
    font-size: 13px;
    color: grey;
}

.footer-text a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

.btn-back {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 25px;
    border: none;
    font-size: 13px;
}

.switch {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 30px;
  margin-left: 200px;
  margin-bottom: 20px 
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #444;
}

input:focus + .slider {
    box-shadow: 0 0 1px #444;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark {
    background-color: #121212;
    color: white;
}

body.dark .box-main {
    background-color: #1e1e1e;
}

body.dark .input-group input {
    background-color: #2a2a2a;
    color: white;
    border: 1px solid #444;
}

body.dark .btn-login {
    background-color: white;
    color: black;
}
body.dark .footer-text {
    color: rgb(220, 220, 220);
}

body.dark .footer-text a {
    color: rgb(255, 255, 255);
}

body.dark .btn-back {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}